@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: roboto, sans-serif;
}

.header {
  flex: 4;
  padding: 8px 10%;
  background-color: #1f2937;
  color: white;
}

.icon {
  width: 4ch;
}

.title {
  display: flex;
  align-items: center;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  flex-wrap: wrap;
}

.logo {
  font-family: "Megrim", cursive;
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.links {
  display: flex;
  gap: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text {
  max-width: 400px;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  padding-right: 16px;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  padding-right: 16px;
}

.top-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  padding: 4px 16px;
  border-radius: 8px;
  margin: 12px 0px;
}

.header-image {
  height: fit-content;
  width: 350px;
  border-radius: 8px;
}

.images-section {
  flex: 3;
  text-align: center;
}

.images-title {
  color: #1f2937;
  font-weight: 900;
  font-size: 36px;
  padding: 32px 0;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 52px;
  padding-bottom: 32px;
}

img {
  width: 150px;
  height: fit-content;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  border: solid #1f2937 4px;
}

.images .image-subtext {
  max-width: 250px;
}

.quote-section {
  flex: 2;
  background-color: #e5e7eb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.quote {
  width: 70vw;
  max-width: 715px;
  padding: 2em 0;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  text-align: left;
}

.name {
  text-align: right;
  font-size: 16px;
  font-weight: 900;
}

.action {
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 70vw;
  max-width: 890px;
  background-color: #3882f6;
  border-radius: 0.3em;
  color: #fff;
  padding: 2em 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  box-shadow: 0.5px 0.5px 15px 2px rgba(0, 0, 0, 0.125);
}

.bottom-button {
  background-color: #3882f6;
  border: solid #fff 1px;
  padding: 4px 16px;
  border-radius: 8px;
  margin: 4px 0;
}

button a {
  color: #fff;
  font-family: roboto, sans-serif;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 8px 0px 16px;
  background-color: #1f2937;
  color: #f9faf8;
}

.disclaimer {
  text-align: left;
  margin-bottom: 20px;
  font-size: 12px;
}

.copyright {
  font-size: 14px;
  color: #e5e7ebc7;
}

summary:hover {
  cursor: pointer;
  color: rgb(250, 49, 49);
}
