* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  flex: 4;
  padding: 8px 10%;
  background-color: #1f2937;
  color: white;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.links {
  display: flex;
  gap: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text {
  max-width: 400px;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  padding-right: 16px;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  padding-right: 16px;
}

.top-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  padding: 4px 16px;
  border-radius: 8px;
  margin: 12px 0px;
}

.header-image {
  height: fit-content;
  width: 350px;
  border-radius: 8px;
}

.images-section {
  flex: 3;
  text-align: center;
}

.images-title {
  color: #1f2937;
  font-weight: 900;
  font-size: 36px;
  padding: 32px 0;
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

img {
  width: 150px;
  height: fit-content;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  border: solid #1f2937 4px;
}

.images .image-subtext {
  max-width: 250px;
}

.quote {
  flex: 2;
}

.action {
  flex: 1;
}

footer {
  text-align: center;
  padding: 16px 0px;
}
